<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" routerLink="/">Client Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Dashboard</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto">

      <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
        <a routerLink="/register" class="nav-link">
          Register
        </a>
      </li>

      <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
        <a routerLink="/login" class="nav-link">
          Login
        </a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item">
        <a href="#" class="nav-link">
          {{ loggedInUser }}
        </a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item">
        <a routerLink="/settings" class="nav-link">
          Settings
        </a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item">
        <a href="#" (click)="onLogoutClick()" class="nav-link">
          Logout
        </a>
      </li>

    </ul>

  </div>
</nav>
