<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center pb-4 pt-3">
            <span class="text-primary">
              <i class="fa fa-lock"></i>
            Client Panel
            </span>
            Login
          </h1>
          <form (submit)="onSubmit()">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
            </div>

            <input type="submit" value="Login" class="btn btn-success btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
