<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a routerLink="/client/{{ id }}" class="btn btn-link">
        <i class="fa fa-arrow-circle-o-left"></i>
        Back to Client
      </a>
    </div>
    <div class="col-md-6">

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Edit Client
    </div>
    <div class="card-body">
      <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">

        <!--        firstName-->
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            #clientFirstName="ngModel"
            [ngClass]="{'is-invalid': clientFirstName.errors
            && clientFirstName.touched}"
            [(ngModel)]="client.firstName"
            minlength="2"
            required
          >

          <div [hidden]="!clientFirstName.errors?.required"
               class="invalid-feedback">
            First Name required
          </div>

          <div [hidden]="!clientFirstName.errors?.minlength"
               class="invalid-feedback">
            Must be at least 2 characters
          </div>
        </div>

        <!--        lastname-->
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            #clientLastName="ngModel"
            [ngClass]="{'is-invalid': clientLastName.errors
            && clientLastName.touched}"
            [(ngModel)]="client.lastName"
            minlength="2"
            required
          >

          <div [hidden]="!clientLastName.errors?.required"
               class="invalid-feedback">
            Last Name required
          </div>

          <div [hidden]="!clientLastName.errors?.minlength"
               class="invalid-feedback">
            Must be at least 2 characters
          </div>
        </div>

        <!--        email-->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            #clientEmail="ngModel"
            [ngClass]="{'is-invalid': clientEmail.errors
            && clientEmail.touched}"
            [(ngModel)]="client.email"
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            required
          >

          <div [hidden]="!clientEmail.errors?.required"
               class="invalid-feedback">
            Email required
          </div>

          <div [hidden]="!clientEmail.errors?.pattern"
               class="invalid-feedback">
            Invalid Email
          </div>
        </div>


        <!--        phone-->
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phone"
            #clientPhone="ngModel"
            [ngClass]="{'is-invalid': clientPhone.errors
            && clientPhone.touched}"
            [(ngModel)]="client.phone"
            minlength="10"
            required
          >

          <div [hidden]="!clientPhone.errors?.required"
               class="invalid-feedback">
            Phone Number required
          </div>

          <div [hidden]="!clientPhone.errors?.minlength"
               class="invalid-feedback">
            Invalid Phone Number
          </div>
        </div>

        <!--        balance-->
        <div class="form-group">
          <label for="balance">Balance</label>
          <input
            type="text"
            class="form-control"
            name="balance"
            #clientBalance="ngModel"
            [(ngModel)]="client.balance"
          >
        </div>

        <input type="submit" value="Submit" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>


</div>
